.gold {
    max-height: 320px;
    padding-bottom: 1rem;
}
.gold-why-choose-us {
    font-family: "poppins";
    padding: 1rem 4rem;
}
.gold-why-choose-us p {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 5px 0;
}
#gold-right-tick {
    margin-top: 5px;
}