.footer-container {
    background: #EBF2ED;
    padding: 4rem;
    font-family: "rubik", sans-serif;
}

.footer-parent-of-all-services {
    display: flex;
    justify-content: space-between;
}

.footer-parent-of-all-services h2 {
    color: #1D2F71;
    margin-bottom: 1.5rem;
    font-weight: 500;
}

.footer-services-and-list ul {
    padding-left: 1rem;
}

.footer-services-and-list ul a {
    text-decoration: none;
    color: #000;
}
.footer-services-and-list ul a:hover {
    color: #1D3071;
}
.footer-services-and-list ul li {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
}

.footer-services-and-list .footer-follow-icon-container {
    padding-left: 0px;
    display: flex;
    list-style: none;
    gap: 10px;
    align-items: center;
}

#footer-follow-img {
    height: 25px;
    width: 25px;
}

.footer-address-and-logo {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.footer-office-address-with-icon {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1.5rem;
}

.footer-office-address-with-icon h2 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 8px;
}

.footer-office-address-with-icon img {
    height: 30px;
    width: 30px;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-logo img {
    height: 150px;
    width: 150px;
}

.footer-copyright-with-love {
    font-family: "rubik";
    padding: 1rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-copyright h2 {
    color: #8B8B8B;
    font-weight: 500;
    font-size: 16px;
}
.footer-copyright span {
    text-decoration: underline;
}

.footer-love {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-love h2 {
    color: #000;
    font-weight: 500;
    font-size: 16px;
}